.qBox {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 10px;
    transition: .5s;
}

.qBox:hover {
    border: 1px solid #8e8e8e;
    transform: scale(105%);
}

.qBox:hover > .qButton {
    background-color:  #F21B3F;
}

.qBox:hover > .qButton > .qTrash{
    color:  white;
}

.qButton {
    margin-top: 10px;
    font-size: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    transition: .5s;
}

.qButton:hover {
    background-color: #F21B3F;
}

.qTrash {
    color: #8e8e8e;
    transition: .5s;
}