.container_form {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.container_form h1 {
    text-align: center;
    margin: 10px 0;
}

.container_form > p {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    width: 100%;
    line-height: 30px;
}

.container_form textarea {
    width: 100%;
    resize: none;

}

.questions {
    margin-bottom: 20px;
}