.container_form {
    height: max-content;
    border: 1px solid lightgray;
    border-radius: 8px;
    max-width: 500px;
    padding: 20px 16px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
}

.container_form h1 {
    text-align: center;
    margin-bottom: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.container_form h2 {
    text-align: justify;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.container_form h3, h4 {
    text-align: center;
}

.container_form h3 {
    margin-bottom: 6px;
}

.container_form h4 {
    background-color: #F21B3F;
    color: #fff;
    line-height: 50px;
    border-radius: 6px;
}

.questions_list {
    list-style: none;
    margin: 20px 0;
}

.questions_list li {
    margin: 10px 0;
}

li {
    word-wrap: break-word;
    white-space: pre-wrap;
}