.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}