.btn {
    background-color: #F21B3F;
    color: #fff;
    padding: .5em 1em;
    text-decoration: none;
    transition: .5s;
    border-radius: 8px;
    border: none;
}

.btn:hover {
    color: #8e8e8e;
}