.form {
    height: 100%;
    text-align: center;
    padding: 0 20px;
}

.top {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 8px 21px -6px #00000040;
}

header nav {
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #8E8E8E;
    border-radius: 8px;
    box-shadow: 0px 8px 21px -6px #00000040;
}

.header:hover, .header:focus-within {
    border-color: #F21B3F;
    scale: 105%;
    transition: .5s;
}

.header input[name] {
    font-size: 1.5rem;
    border-bottom: 1px solid #8e8e8e;
}

.header input[name]:focus {
    outline: none;
    border-bottom: 1px solid #F21B3F;
    transition: ease .2s;
}

.header textarea {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #8e8e8e;
}

.header textarea:focus {
    outline: none;
    border-bottom: 1px solid #F21B3F;
    transition: ease .2s;
}

button {
    width: min-content;
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}