.btn {
    background-color: #F21B3F;
    border-radius: 8px;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    width: fit-content;
}

.btn:hover {
    background-color: #af1b34;
    transition: .2s;
}